{% extends 'base.html' %}
{% block content %}
{{super()}}
{% for cat,msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<h1>Add Teacher</h1>
<form action="/add_teacher" method="POST" class="add_teacher_form">
    <p><label>Last Name</label><input type="text" name='last_name' placeholder="Last Name" required/></p>
    <p><label>Name</label><input type="text" name="name" placeholder="Name" required/></p>
    <p><label>Date of birth</label><input type="date" name="birth_date" placeholder="Date" required/><i class="fas fa-calendar"></i></p>
    <p><label>Salary</label><input type="number" name='salary' placeholder="Salary" min="0" ></p>
    <p>
        <label>University</label>
        <select name="university" required>
            <option value="" disabled selected hidden>Universities</option>
            {% for university in universities %}
                <option>{{university.name}}</option>
            {% endfor %}
        </select>
    </p>
    <div class="choice">
        <p><i class="fas fa-plus"></i><input type="submit" value="ADD" class="button_yes"/></p>
        <p><i class="fas fa-ban"></i><a href="/" class="button_no">CANCEL</a></p>
    </div>
</form>
{% endblock %}